.o_field_statusbar .o_arrow_button.o_arrow_button_current[data-value="approve"] {
    background-color: #28a745 !important;
    color: #fff !important;
}

.o_field_statusbar .o_arrow_button.o_arrow_button_current[data-value="approve"]::before {
    background-color: #28a745 !important;
}